[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"

[dev-packages]

[scripts]
image = "python -m detection.image"
video = "python -m detection.video"
